@media only screen and (max-width : 480px)
{
    #bookappts-txt
    {
        font-family: OstrichSans-Black;
        color: #1C1C21;
        font-size: 95px;
        margin-top: -800px;
        margin-bottom: 100px;
        text-align: center;
    }
    #gridcontainer
    {
        width: 100%;
        align-items: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-row-gap: 10px;
        margin-bottom: 200px; 
    }
    #subcontainer
    {
        width: 100%;
        align-items: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 20px;
    }
    .pics
    {
        width: 100%;
        max-height: 669px;
    }
    .carthead
    {
        font-family: OstrichSans-Black;
        color: #1C1C21;
        font-size: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .carttxt
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
        font-size: 25px;
        padding: 5px;
        text-align: center;
    }
    
    input[type=submit]
    {
        width: 300px;
        border: 2px solid #1C1C21;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-size: 25px;
        padding: 5px;
        margin-top: 10px;
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    input[type=submit]:hover
    {
        border: 2px solid transparent;
        border-bottom: 2px solid #1C1C21;
        background-color: #EA7E1F;
    }
    .txts
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
        font-size: 25px;
        padding: 5px;
    }
    .profilebtns 
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        font-size: 20px;
        width: 200px;
        height: 40px;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        border: 2px solid #1C1C21;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
    }
    .progressbar 
    {
        counter-reset: step;
    }
    .baritems 
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        list-style-type: none;
        width: 25%;
        float: left;
        font-size: 25px;
        position: relative;
        text-align: center;
        color: #1C1C21;
        margin-bottom: 100px;
    }
    .baritems:before 
    {
        width: 40px;
        height: 40px;
        content: counter(step);
        counter-increment: step;
        line-height: 30px;
        border: 2px solid #1C1C21;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
    }
    .baritems:after 
    {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #1C1C21;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    .baritems:first-child:after
    {
        content: none;
    }
    .active 
    {
        color: #EA7E1F;
    }
    .active:before
    {
        border-color: #EA7E1F;
    }
    .active + .baritems:after 
    {
        background-color: #EA7E1F;
    }
    #submit-btn
    {
        width: 32%;
        float: right;
        border: 2px solid #1C1C21;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-size: 25px;
        padding: 5px;
        margin-top: -100px;
        margin-right: 5%;
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
    }
    #submit-btn:hover
    {
        border: 2px solid transparent;
        border-bottom: 2px solid #1C1C21;
        background-color: #EA7E1F;
    }
    #back-btn
    {
        width: 32%;
        float: left;
        border: 2px solid #1C1C21;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-size: 25px;
        padding: 5px;
        margin-top: -100px;
        margin-left: 5%;
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
    }
    #back-btn:hover
    {
        border: 2px solid transparent;
        border-bottom: 2px solid #1C1C21;
        background-color: #EA7E1F;
    }
    .box
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width : 481px) and (max-width : 768px)
{
    #bookappts-txt
    {
        font-family: OstrichSans-Black;
        color: #1C1C21;
        font-size: 95px;
        margin-top: -800px;
        margin-bottom: 100px;
        text-align: center;
    }
    #gridcontainer
    {
        width: 100%;
        align-items: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-row-gap: 10px;
        margin-bottom: 200px; 
    }
    #subcontainer
    {
        width: 100%;
        align-items: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 20px;
    }
    .pics
    {
        width: 100%;
    }
    .carthead
    {
        font-family: OstrichSans-Black;
        color: #1C1C21;
        font-size: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .carttxt
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
        font-size: 25px;
        padding: 5px;
        text-align: center;
    }
    
    input[type=submit]
    {
        width: 300px;
        border: 2px solid #1C1C21;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-size: 25px;
        padding: 5px;
        margin-top: 10px;
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    input[type=submit]:hover
    {
        border: 2px solid transparent;
        border-bottom: 2px solid #1C1C21;
        background-color: #EA7E1F;
    }
    .txts
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
        font-size: 25px;
        padding: 5px;
    }
    .profilebtns 
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        font-size: 20px;
        width: 200px;
        height: 40px;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        border: 2px solid #1C1C21;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
    }
    .progressbar 
    {
        counter-reset: step;
    }
    .baritems 
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        list-style-type: none;
        width: 25%;
        float: left;
        font-size: 25px;
        position: relative;
        text-align: center;
        color: #1C1C21;
        margin-bottom: 100px;
    }
    .baritems:before 
    {
        width: 40px;
        height: 40px;
        content: counter(step);
        counter-increment: step;
        line-height: 30px;
        border: 2px solid #1C1C21;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
    }
    .baritems:after 
    {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #1C1C21;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    .baritems:first-child:after
    {
        content: none;
    }
    .active 
    {
        color: #EA7E1F;
    }
    .active:before
    {
        border-color: #EA7E1F;
    }
    .active + .baritems:after 
    {
        background-color: #EA7E1F;
    }
    #submit-btn
    {
        width: 32%;
        float: right;
        border: 2px solid #1C1C21;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-size: 25px;
        padding: 5px;
        margin-top: -100px;
        margin-right: 5%;
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
    }
    #submit-btn:hover
    {
        border: 2px solid transparent;
        border-bottom: 2px solid #1C1C21;
        background-color: #EA7E1F;
    }
    #back-btn
    {
        width: 32%;
        float: left;
        border: 2px solid #1C1C21;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-size: 25px;
        padding: 5px;
        margin-top: -100px;
        margin-left: 5%;
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
    }
    #back-btn:hover
    {
        border: 2px solid transparent;
        border-bottom: 2px solid #1C1C21;
        background-color: #EA7E1F;
    }
    .box
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width : 769px)
{
    #bookappts-txt
    {
        font-family: OstrichSans-Black;
        color: #1C1C21;
        font-size: 95px;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
    }
    #gridcontainer
    {
        width: 100%;
        align-items: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-row-gap: 10px;
        margin-bottom: 200px; 
    }
    #subcontainer
    {
        width: 100%;
        align-items: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-column-gap: 10px;
    }
    .pics
    {
        width: 100%;
    }
    .carthead
    {
        font-family: OstrichSans-Black;
        color: #1C1C21;
        font-size: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .carttxt
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
        font-size: 25px;
        padding: 5px;
        text-align: center;
    }
    
    input[type=submit]
    {
        width: 300px;
        border: 2px solid #1C1C21;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-size: 25px;
        padding: 5px;
        margin-top: 10px;
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    input[type=submit]:hover
    {
        border: 2px solid transparent;
        border-bottom: 2px solid #1C1C21;
        background-color: #EA7E1F;
    }
    .txts
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
        font-size: 25px;
        padding: 5px;
    }
    .profilebtns 
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        font-size: 20px;
        width: 200px;
        height: 40px;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        border: 2px solid #1C1C21;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
    }
    .progressbar 
    {
        counter-reset: step;
    }
    .baritems 
    {
        font-family: Raleway-Thin;
        font-weight: bold;
        list-style-type: none;
        width: 25%;
        float: left;
        font-size: 25px;
        position: relative;
        text-align: center;
        color: #1C1C21;
        margin-bottom: 100px;
    }
    .baritems:before 
    {
        width: 40px;
        height: 40px;
        content: counter(step);
        counter-increment: step;
        line-height: 30px;
        border: 2px solid #1C1C21;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
    }
    .baritems:after 
    {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #1C1C21;
        top: 15px;
        left: -50%;
        z-index: -1;
    }
    .baritems:first-child:after
    {
        content: none;
    }
    .active 
    {
        color: #EA7E1F;
    }
    .active:before
    {
        border-color: #EA7E1F;
    }
    .active + .baritems:after 
    {
        background-color: #EA7E1F;
    }
    #submit-btn
    {
        width: 32%;
        float: right;
        border: 2px solid #1C1C21;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-size: 25px;
        padding: 5px;
        margin-top: -100px;
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
    }
    #submit-btn:hover
    {
        border: 2px solid transparent;
        border-bottom: 2px solid #1C1C21;
        background-color: #EA7E1F;
    }
    #back-btn
    {
        width: 32%;
        float: left;
        border: 2px solid #1C1C21;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 500ms ease-in-out;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-size: 25px;
        padding: 5px;
        margin-top: -100px;
        font-family: Raleway-Thin;
        font-weight: bold;
        color: #1C1C21;
    }
    #back-btn:hover
    {
        border: 2px solid transparent;
        border-bottom: 2px solid #1C1C21;
        background-color: #EA7E1F;
    }
}
